<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720818502811-6lj2ut861vlueuflri1qnl5e93744qi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720818502811-6lj2ut861vlueuflri1qnl5e93744qi5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720818502811-h3e6t8efvbmu685merdoj4idkmssfvpk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqzPK7aRQab41R2HQgfcEGaZSvASrXP0w</string>
	<key>GCM_SENDER_ID</key>
	<string>720818502811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hbtproject.habital</string>
	<key>PROJECT_ID</key>
	<string>habital-e1c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>habital-e1c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720818502811:ios:530617b9c0dc3b4b289a3e</string>
</dict>
</plist>